// =========================
// CHEESEBURGER MENU
// =========================
$color-cheeseburger-menu-navigation: #B5B5B5;
$color-cheeseburger-menu-bg: #E9E9E9;
$color-cheeseburger-menu-color: #363636;

$color-primary: #FE1C3E;
$color-secondary: #232323;
$color-text: #232323;

$All: 'all and (min-width: 0px)';
$Medium: 'all and (min-width: 500px)';
$Narrow: 'all and (min-width: 768px)';
$Normal: 'all and (min-width: 1024px)';
$Wide: 'all and (min-width: 1220px)';


    .block-cheeseburgermenu {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        @media #{$Normal}{
            display: none;
        }
    }
    
    body.menu-is-visible {
        overflow: hidden;
    }
    
  .cheeseburger-menu__wrapper {
    position: fixed;
    // top: 62px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate3D(-100%, 0, 0);
    -webkit-overflow-scrolling: touch;
    z-index: 10;
    color: $color-cheeseburger-menu-color;
    transition: all 0.15s;
    background-color: $color-cheeseburger-menu-bg;
    opacity: 0;
    perspective: 1000;
    &.menu-is-visible {
      transform: translate3D(0, 0, 0);
      opacity: 1;
    }
    @media #{$Narrow}{
      width: 380px;
    }
    a, a:focus, a:hover, a:visited {
      color: $color-cheeseburger-menu-color;
      text-decoration: none;
    }
    ul {
      padding: 0;
      margin: 0;
    }
  }
  
  .cheeseburger-menu {
    &__navigation {
      float: left;
      height: calc(100vh);
      width: 73px;
      background-color: $color-cheeseburger-menu-navigation;
      overflow: auto;
      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
          background: url('../images/default.svg') top 18px center / 26px no-repeat;
          a, span {
            font-size: 9px;
            text-transform: uppercase; 
            padding: 54px 8px 12px 8px;
            cursor: pointer;
            line-height: 11px;
            text-align: center;
            display: block;
            font-weight: bold;
            word-wrap: break-word;
          }
          &--main { background-image: url("../images/main.svg"); }
          &--account { background-image: url("../images/account.svg"); }
          &--category { background-image: url("../images/category.svg"); }
          &--cart { background-image: url("../images/cart.svg"); }
          &--phone { background-image: url("../images/phone.svg"); }
          &--active { background-color: $color-cheeseburger-menu-bg;}
        }
      }
    }
    &__menus {
      height: calc(100vh);
      overflow: auto;
    }
    &__menu {
      $root: &;
      float: right;
      width: calc(100%);
      padding: 15px 0;
      border-bottom: 1px solid rgba(black, 0.1);
      &-title {
        font-size: 22px;
        font-weight: bold;
        padding: 10px 10px 0;
        color: $color-primary;
      }
      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          &>span, &>a {
            padding: 20px 15px;
          }
          ul {
            height: 0;
            overflow: hidden;
            &.open-child {
              height: auto;
            }
          }
        }
        &>li {
          border-bottom: 1px solid rgba(black, 0.1);
          font-weight: bold;
          &:last-of-type {
            border-bottom: none;
          }
        }
        &-item {
          padding: 0;
          img {
            float: left;
            max-width: 30px;
            margin-right: 10px;
            margin-top: 2px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $color-cheeseburger-menu-color;
            &+span {
              padding-left: 40px;
            }
          }
          &--expanded {
            &>span, &>a {
              background: url(../images/down-arrow.svg) top 22px right 8px/17px no-repeat;
              padding-right: 30px !important;
            }
            ul {
              a, span {
                background: none;
              }
            }
          }
          &-link {
            display: block;
          }
        }
      }
    }
  }
  
  .cheeseburger-menu {
    @media #{$Normal}{
      display: none;
    }
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    &__trigger {
      position: relative;
      display: block;
      margin: 0 auto;
      height: 40px;
      text-transform: uppercase;
      font-size: 18px;
      text-decoration: none;
      border-radius: 3px;
      z-index: 11;
      &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url(../images/trigger.svg);
        background-repeat: no-repeat;
        background-position: center;
        content: "";
        text-align: center;
        height: 40px;
        font-size: 12px;
        color: $color-text;
        font-weight: bold;
        &:focus {
          color: $color-text;
        }
      } 
      &.is-open {
        background-color: #b5b5b5;
        &:after {
            background-image: url(../images/trigger-close.svg);
        }
      }
    }
  }